<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="../styles/main.css">

  </head>
  <body>
    <header>
        <h1>E-commerce Project</h1>
        <a href="/"><button>Home</button></a>
        <a href="/about"><button>About</button></a>
        <a href="/cart"><button>Cart</button></a>
        <a href="/login"><button>Login</button></a>
        <hr>
    </header>

    <div class="container">
      <div class="row">
      <div class="one-half column">
        <img src ="{{data.image}}" alt="{{data.name}}" class="productImg">

      </div>
      <div class="one-half column">
        <h2>{{data.name}}</h2>
        <h4>{{data.price}}</h4>
        <p>{{data.description}}</p>
        <form action="/add" method="post">
          <!-- Hidden fields to pass data -->
          <input type="hidden" name="id" value="{{data.id}}">
          <input type="text" class="u-half-width" name="quantity">
          <input class="u-full-width button-primary" type="submit" name="submit" value="Add to cart">
        </form>
      </div>
    </div>
  </body>
</html>
