<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="../styles/main.css">

  </head>
  <body>
    <header>
        <h1>E-commerce Project</h1>
        <a href="/"><button>Home</button></a>
        <a href="/about"><button>About</button></a>
        <a href="/cart"><button>Cart</button></a>
        <a href="/login"><button>Login</button></a>
        <hr>
    </header>
    <div class="container">
      <div class="row">
      <div class="one-half column">

          <h2>Your Details:</h2>        
          <section class="profile">
          {{#each user}}
          <form class="profile" action="updateProfile" method="post">
            <label for="name">Name: {{name}}</label>    
            <label for="email">E-mail: {{email}}</label>
            <input type="hidden" name="id" value="{{id}}">
            <label for="address">Address: </label>
            <input type="text" class="u-full-width" name="address" value="{{address}}" required>
            <label for="city">City: </label>
            <input type="text" class="u-full-width" name="city" value="{{city}}" required>
            <label for="country">Country: </label>
            <input type="text" class="u-full-width" name="country" value="{{country}}" required>
            <label for="postcode">Postcode: </label>
            <input type="text" class="u-half-width" name="postcode" value="{{postcode}}" required>
            <br>
            <input class="u-full-width button-primary" type="submit" name="submit" value="Update Details">
          </form>
        
        </div>

        <div class="one-half column">
          <br>
          <br>
           <h3>Change Your Password:</h3>


            <form class="profile" action="changePassword" method="post">
              <input type="hidden" name="id" value="{{id}}">
              <label for="password">Current password: </label>
              <input type="password" class="u-full-width" name="password">
              <label for="password">New password: </label>
              <input type="password" class="u-full-width" name="passwordNew1">            
              <label for="password">Confirm password: </label>
              <input type="password" class="u-full-width" name="passwordNew2">
              <input class="u-full-width button-primary" type="submit" name="submit" value="Update Password">
            </form>
              {{/each}}
        </div>
      </div>
      <div class="row">
      <div class="eight column ">
          <h2>What you have previously purchased:</h2>
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{quantity}}</td>
                  <td>${{price}}.00</td>
                  <td>${{total}}.00</td>
                </tr>
                {{/each}}
                <tr>
                  <td><strong>Total</strong></td>
                  <td></td>
                  <td></td>
                  <td><strong>${{data.total}}.00</strong></td>
                </tr>
              </tbody>
            </table>

      </div>
    </div>
  </body>
</html>
